an OpenSSH security key middleware for WSL (for OpenSSH sk-api v@SK_API_VERSION@)
windows-fido-bridge is an OpenSSH security key middleware that allows you
to use a FIDO2/U2F security key (e.g. a YubiKey) to SSH into a remote server
from WSL.
